altair==5.3.0
argon2-cffi
argon2-cffi-bindings
asttokens
async-lru
attrs
Babel
backcall==0.2.0
beautifulsoup4
bleach
blinker==1.8.2
Bottleneck
Brotli
cachetools==5.3.3
certifi
cffi
charset-normalizer
click
colorama
comm
debugpy
decorator
defusedxml
docopt==0.6.2
executing
fastjsonschema
gitdb==4.0.11
GitPython==3.1.43
idna
ipykernel
ipython==8.12.3
ipython-genutils
ipywidgets
jedi
Jinja2
json5
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
markdown-it-py
MarkupSafe
matplotlib-inline
mdurl
mistune
mkl-fft
mkl-random
mkl-service
nbclient
nbconvert==7.16.4
nbformat
nest-asyncio
notebook
notebook_shim
numexpr
numpy
overrides
packaging
pandas
pandocfilters
parso
pickleshare==0.7.5
pillow
pipreqs==0.5.0
platformdirs
prometheus-client
prompt-toolkit
protobuf==5.27.2
psutil
pure-eval
pyarrow
pycparser
pydeck==0.9.1
Pygments
PySocks
python-dateutil
python-json-logger
pytz
pywin32
pywinpty
PyYAML
pyzmq
redis==5.0.7
referencing
requests
rfc3339-validator
rfc3986-validator
rich==13.7.1
rpds-py
Send2Trash
six
smmap==5.0.1
sniffio
soupsieve
spotipy==2.24.0
stack-data
streamlit==1.36.0
tenacity
terminado
tinycss2
toml
toolz
tornado
traitlets
typing_extensions
tzdata
urllib3
watchdog
wcwidth
webencodings==0.5.1
websocket-client
widgetsnbextension
win-inet-pton
yarg==0.1.9
